.creators-icon{
color: white;

}

/* .creators-info{ */
  
    /* display: flex ;
    justify-content: right;
    padding: 2.1rem; */
/*  
    display: inline;
    position: relative;
    left : 78rem;
    top: 2rem;
  

    z-index: 1
} */

/* #github{
   position: relative;
   right: 5.5rem;
}

#linkedin{
    position: relative;
    right: 2rem;
} */

.creators-info{
    display: flex;
    gap:1rem;
    position: fixed;
    top: 5rem;
    right: 3rem;
    width: fit-content;
    border-style: solid;
    border-width: thin;
    border-radius: 1rem;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.37);
}

