#location {
   position: fixed;
   right: 3rem;
   top: 9.7rem;
   font-size: 1.5rem;
   color: white;
   background-color: rgba(0, 0, 0, 0.603);
   border-style: solid;
   border-width: thin;
   padding: 1rem;
   border-radius: 1rem;
}