/* .main-title{
    color:#232c46e8;
    font-size: 2.3rem;
    position: relative; 
   right: 10rem;
   bottom: 3rem;
    font-family:monospace
} */
.main-logo{

    height: 17rem;
    
    position: relative;
    bottom: 3.6rem;
    left: 5.5rem;
 
    /* width: 37.9rem; */
   
}

.main{
    align-items: center;
    box-sizing: border-box;
    /* margin-left: 2.5rem; */
background-color: rgba(0, 0, 0, 0.75);
z-index: 1;
height: 8.4rem;
width: 28rem;
border-radius: 1rem;

}

body{
 background-repeat: no-repeat; 
    position: fixed;
    background-attachment: fixed;
     background-size: cover; 
     padding-left:2rem
}