/* .main-title{
    color:#232c46e8;
    font-size: 2.3rem;
    position: relative; 
   right: 10rem;
   bottom: 3rem;
    font-family:monospace
} */
.main-logo{

    height: 17rem;
    
    position: relative;
    bottom: 1rem;
    right: 7.3rem;
    width: 37.9rem;
   
}

.main{
    align-items: center;
    box-sizing: border-box;
    margin-left: 2.5rem;

}

body{
 background-repeat: no-repeat; 
    position: fixed;
    background-attachment: fixed;
     background-size: cover; 
     padding-left:2rem
}