.search{
    display: flex;
    position: fixed;
    left: 9rem;
    top: 13rem;
    gap: 0.5rem;
    width: fit-content;
}

#search-but{
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    border: none;
    padding-top: 0.3em;
    background-color: rgba(255, 255, 255, 0.404);
    cursor: pointer;
    transition: 0.2s;
}

#search-but:hover{
    background-color: rgba(255, 255, 255, 0.657);
}

.icons{
    height: 3rem;
}


#search-bar{
    border: none;
    outline: none;
    padding: 0.3em;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.664);
    font-size: 1rem;
    padding-left: 1rem;

}