.weeks-weather{
    display: flex;
    position: relative;

    border-style: solid;
    padding: 1rem;
    width: 26rem;

    
  
    overflow-x: scroll;
    border-radius: 1rem;
    color: white;
    
}
.weeks-weather::-webkit-scrollbar {
  display: none;

}
.space{
    color: rgba(255, 255, 255, 0);
}

.days{
    display: block;
    border-style: solid;
    min-width: 8rem;
    padding: 1rem;
    border-radius: 0.2rem;
    border-width: thin;
    }