.weeks-weather{
    display: flex;
    position: relative;
    top: 7rem;
    border-style: solid;
    padding: 1rem;
    width: 21.9rem;
    
  
    overflow-x: scroll;
    border-radius: 1rem;
    color: white;
    
}
.weeks-weather::-webkit-scrollbar {
  display: none;
}
.space{
    color: rgba(255, 255, 255, 0);
}

.days{
    display: block;
    border-style: solid;
    min-width: 8rem;
    padding: 1rem;
    border-radius: 0.2rem;
    }